spring:
  application:
    name: appointments-service

  datasource:
    url: jdbc:h2:mem:appointmentsdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration/h2

server:
  port: 8081

appointments:
  workingHoursStart: "09:00"
  workingHoursEnd: "17:00"

management:
  endpoints:
    web:
      exposure:
        include: health,info
